/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import './bootstrap.css';
@import './theme.scss';


.nav-100vh{
    height: calc(100vh - 80px);
}

a{
    text-decoration: none !important;
}


.pointer{
    cursor: pointer;
}

.danger{
    background-color: $danger;
    color: $white;
}

.success{
    background-color: $success;
    color: $white;
}

.neutral{
    background-color: $white;
    color: $dark;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
