<div class="container">
  <div class="d-flex flex-column-reverse flex-md-row justify-content-md-between align-items-center gap-4 banner-container">
    <div
      class="d-flex flex-column justify-content-center gap-5"
    >
      <h1 class="text-dark text-center banner-text">
        It's Easy To Find Your
        <span class="text-primary fw-bold">Dream Job</span>
      </h1>

      <div class="w-full wrapper position-relative">
        <input
          type="text"
          class="form-control w-full"
          style="padding: 1em 3em; padding-right: 6em"
          placeholder="Job title or keyword"
        />
        <button
          class="btn btn-primary text-white position-absolute fw-medium fs-6"
          style="top: 15%; right: 10px"
        >
          Search
        </button>
        <fa-icon
          [icon]="searchIcon"
          size="lg"
          class="position-absolute"
          style="top: 30%; left: 10px"
        ></fa-icon>
      </div>
    </div>
        <img src="../../assets/home/banner.svg" class="banner-img" alt="" />
  </div>
</div>
